.media-renderer-control {
    button {
        border: none;
        margin: 1em;
        border-radius: .5em;
        padding: .5em;
        cursor: pointer;
      }
}
.current-media-information {
    padding: .1em 1em;
}