$page-background-color: #111;

// Typography Variables
$base-font-family: "Century Gothic", sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5;
$base-font-color: #aaa;
$base-font-visited-color: #ccc;
$base-font-hover-color: rgb(255, 255, 0);
